<h1>show articles  </h1>
<p><strong>title:</strong><%= @article.title %> </p>
<p><strong>description:</strong><%= @article.discription %></p>
<p><strong>created_at</strong><%= @article.created_at %> </p>
<p><strong>updated_at</strong><%= @article.updated_at %></p>
