<h1>welcome to main page </h1>
<h3>if you want to see articles click on the article button </h3>
<%= button_to 'articles',articles_path, method: :get%>
<%= button_to 'about page',about_path, method: :get%>